#lessonNoteDialog {
    width: 50vw;
    max-width: 50vw;
    height: 50vh;
    overflow: hidden;
}

#lessonNoteDialog[open] {
    display: flex;
    flex-direction: column;
}

#lessonNoteDialog .dialogBody {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-height: 0;
}

#noteEditorContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-height: 0;

}

#noteContentEditor {
    border: solid 1px var(--bodyBackground);
    padding: 0.5rem;
    background-color: white;
    flex: 1 1 100%;
    overflow-y: auto;
    min-height: 0;
}

#noteContentEditor>*:first-child {
    margin-top: 0;
}

.placeholder {
    color: var(--lightgrey);
}

#noteContentEditor p,
#noteContentEditor div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#editorButtonContainer button[aria-pressed="true"] {
    background-color: var(--lightgrey);
}

#editorButtonContainer button {
    display: flex;
    align-items: center;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: var(--smallRadius);
    background-color: var(--lightergrey);
}

#editorButtonContainer button svg {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}