* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

    --bodyBackground: #272932;
    --topMenuBackgound: #542344;
    --lightMenuBackground: #81366A;
    --contentContainerBackground: #F3F5F7;
    --lightText: rgb(164, 164, 164);
    --lighterText: #F3F5F7;
    --matteRed: #F05D5E;
    --matteGreen: #0F7173;
    --lightMatteGreen: #17B2B5;
    --lightMatteRed: #F58F8F;
    --lightgrey: rgb(184, 184, 184);
    --lightergrey: rgb(227, 227, 227);
}

html {
    /* width: 100vw; */
}

body {
    background-color: var(--bodyBackground);
    display: flex;
    flex-direction: column;
}

main {}

/* Top Menu */

#topMenuContainer {
    background-color: var(--topMenuBackgound);
    color: var(--lighterText);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    flex: 1 0 100%
}

/* Content Containers */

#timetableContainer,
#taskContainer {
    background-color: var(--contentContainerBackground);
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}

#timetableContainer {
    overflow-y: hidden;
    scrollbar-color: var(--lightgrey) var(--contentContainerBackground);
}

#isCurrentWeekDot {
    margin-left: 0.5rem;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--matteGreen);
}

/* Time Table */

#weekBackwardButton,
#weekForwardButton {
    border: none;
    background-color: var(--contentContainerBackground);
}

#weekBackwardButton:active,
#weekForwardButton:active {
    color: var(--matteRed);
}

#weekOverviewContainer {
    position: relative;
    left: 0;
    transition: all 0.3s ease-out;
    cursor: default;
    overflow-x: scroll;
    overflow-y: hidden;

}

.weekOverview {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.6fr 0.6fr;
    min-width: 900px;
}

#timeslots {
    display: grid;
    grid-template-rows: 3rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.timeslotLabel,
.weekdayLabel {
    padding: 0.5rem 1rem;
}

.timeslot,
.timeslotLabel {
    display: flex;
    border-top: solid 1px var(--lightgrey);
    height: 42px;
}

.weekdayLabel {
    font-weight: bold;
    color: rgb(106, 106, 106);
}

.smallDate {
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--lightText);
}

.weekday {
    display: grid;
    border-left: solid 1px var(--lightgrey);
    grid-template-rows: 3rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekday.passed {
    background-color: var(--lightergrey);
}

.lesson {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.16);
    color: var(--lighterText);
    text-align: center;
    transition: all 0.3s ease-out;
}

.lesson:hover {
    transform: translate(-1px, -1px);
}

.lessonOptionsWrapper {
    position: absolute;
    z-index: 2;
    top: 1.6rem;
    left: 0;
    right: 0;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--lightergrey);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.16);
    /* transition: all 0.3s ease-out; */
}

.lessonOptionsWrapper.canceled button {
    color: var(--lightgrey);
    transition: all 0.3s ease-out;
}

.lessonOption {
    display: flex;
    padding: 0.25rem 0;
}

.lessonOption:first-child {
    margin-bottom: 0.25rem;
}

.lessonOption:hover {
    background-color: rgba(256, 256, 256, 0.1);
}

.lessonOption button {
    color: var(--lighterText);
    border: none;
    flex-grow: 1;
    background-color: transparent;
}

.lessonForm {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    background-color: var(--lightergrey);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.16);
    padding: 0.5rem 0.5rem;
}

.addLessonButtonWrapper {
    display: none;
    flex: 1 1 100%;
    background-color: var(--lightergrey);
    justify-content: center;
    align-items: center;
    text-align: right;
}

.addLessonButton {
    color: #0F7173;
}

.weekOverview:hover .addLessonButtonWrapper {
    display: flex;
}

/* Task Container */

#upcomingTasksContainer,
#inProgressTasksContainer {
    flex: 1 1 50%;
    max-width: 50%;
}

#upcomingTasksTable,
#inProgressTasksTable {
    border-spacing: 0;
}

#upcomingTasksTable tbody tr:hover,
#inProgressTasksTable tbody tr:hover {
    background-color: var(--lightergrey);
}

#upcomingTasksTable td,
#inProgressTasksTable td,
#upcomingTasksTable th,
#inProgressTasksTable th {
    padding: 0.5rem 1rem;
    border-right: solid 1px var(--lightgrey);
    user-select: none;
    cursor: default;
}

#upcomingTasksTable .taskDone,
#upcomingTasksTable .taskDescription,
#inProgressTasksTable .taskDone,
#inProgressTasksTable .taskDescription {
    border-right: none;
    transition: all 0.3s ease-out;
}

.taskDescription {
    width: 100%;
}

.taskDone {
    display: flex;
    min-width: 125px;
    gap: 0.5rem;
    justify-content: center;
    vertical-align: center;
}

tr[data-new] {
    background-color: var(--lightergrey);
}

tr[data-new] td {
    border-color: var(--contentContainerBackground) !important;
}

tr[data-new]:has(td[data-taskDescription]) td {
    border-top: solid 1px var(--contentContainerBackground);
}

/* Buttons */

.taskDone button,
.discardNewLessonButton,
.saveNewLessonButton {
    border: none;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: var(--lightMatteGreen);
    font-size: 1rem;
    color: var(--lighterText);
}

.taskDone button:hover {
    background-color: var(--matteGreen);
}

.lessonSelect {
    appearance: none;
    /* border: none; */
    /* background-color: transparent; */
    height: 100%;
    font-size: 1rem;
}

.lessonSelect option:first-child {
    text-align: center;
}

.lessonOptionsButton {
    color: var(--lightgrey);
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    padding: 0 0.2em;
    background-color: transparent;
}

.lessonOptionsButton:hover {
    background-color: rgba(256, 256, 256, 0.1);
}

.lessonOption.lessonPastMessage.responsive {
    display: block;
}

.lessonOption.lessonPastMessage.responsive {
    display: none;
}


.saveNewTaskButton,
.updateTaskButton,
.setTaskDoneButton,
.saveNewLessonButton {
    background-color: var(--lightMatteGreen);
    margin-right: 0.5rem;
}

.discardNewTaskButton,
.discardUpdateTaskButton,
.discardNewLessonButton {
    background-color: var(--lightMatteRed) !important;
}

.saveNewTaskButton:hover,
.updateTaskButton:hover,
.setTaskDoneButton:hover,
.saveNewLessonButton:hover {
    background-color: var(--matteGreen);
}

.discardNewTaskButton:hover,
.discardUpdateTaskButton:hover,
.discardNewLessonButton:hover {
    background-color: var(--matteRed) !important;
}

#taskContainer th {
    color: var(--lightgrey);
    text-align: left;
    padding: 0.5rem 1rem;
}

/* header stylings */

h1,
h2 {
    margin: 0;
    color: var(--matteRed);
}



/* generic classes */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}

.justifyEnd {
    justify-content: end;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: end;
}

.halfGap {
    gap: 0.5rem;
}

.gap {
    gap: 1rem;
}

.doubleGap {
    gap: 2rem;
}

.subjectColorOne {
    background-color: var(--matteGreen);
}

.subjectColorTwo {
    background-color: var(--topMenuBackgound);
}

.subjectColorThree {
    background-color: var(--matteRed);
}

.subjectColorFour {
    background-color: var(--bodyBackground);
}

.subjectColorOne.light {
    background-color: var(--lightMatteGreen);
}

.subjectColorTwo.light {
    background-color: var(--lightMenuBackground);
}

.subjectColorThree.light {
    background-color: var(--lightMatteRed);
}

.subjectColorFour.light {
    background-color: var(--bodyBackground);
}

.blankWeekTable {
    background-color: var(--contentContainerBackground);
    transition: all 0.3s ease-out;
}

.undefined {
    border: solid 1px var(--bodyBackground);
    color: var(--bodyBackground);
}

.canceled {
    background-color: var(--lightergrey);
    color: var(--lightgrey);
}



/* responsiveness */

.responsive {
    display: none;
}

@media screen and (max-width: 1350px) {
    .lessonOption.lessonPastMessage {
        display: none;
    }

    .lessonOption.lessonPastMessage.responsive {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .spacerBlock {
        display: none;
    }

    .lessonOptionsWrapper {
        padding: 1rem 0.5rem;
    }


}

@media screen and (max-width: 900px) {

    #taskContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    body {
        font-size: 14px;
    }

    #timetableContainer,
    #taskContainer {
        padding: 1rem 0.5rem;

    }

    .taskDone {
        display: none;
    }

    .taskDone.responsive {
        display: table-cell;
        column-span: 4;
        justify-content: space-around;
    }

    .taskDone.responsive button {
        width: 48%;
        margin: 0;
    }
}