* {
    box-sizing: border-box;
}

#dialogContainer {
    max-width: 460px;
}

dialog {
    background-color: var(--contentContainerBackground);
    min-width: 460px;
}

#headline {
    background-color: var(--topMenuBackgound);
    margin: -1rem -1rem 0 -1rem;
    padding: 0.5rem 1rem ;
}

#formBody {
    background-color: var(--contentContainerBackground);
}

input {
    /* background-color: var(--lightergrey); */
    border: solid 1px var(--lightgrey);
    border-radius: 3px;
    height: 1.5rem;
}

label {
    margin-left: 3px;
}

#errorMessageDisplay {
    color: var(--matteRed);
    text-align: center;
}


dialog button {
    padding: 0.25rem 1rem;
    border: none;
    border-radius: var(--smallRadius);
    background-color: var(--lightMatteGreen);
    font-size: 1rem;
    color: var(--lighterText);
}

dialog button:hover {
    background-color: var(--matteGreen);
}