:root {
    --borderWidth: 3px;
}

#addTimespanForm {
    display: none;
}

#yearContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.month {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
    background-color: var(--contentContainerBackground);
}

.week,
#dayNameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5rem 5rem;
}

#dayNameContainer {
    position: sticky;
    top: 0;
    background-color: var(--topMenuBackgound);
    color: var(--matteRed);
    padding: 1rem 1rem 0.5rem;
    margin-bottom: -1rem;
    gap: 0.2rem;
    z-index: 3;
}

.monthName {
    font-size: 2rem;
    font-weight: bold;
    color: var(--labelgrey);
}

.dayName {
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.day {
    position: relative;
    box-sizing: border-box;
    height: 5rem;
    padding: 0.5rem 1rem;
    border: solid 1px var(--lightgrey);
}

.day[data-weekdaynumber="6"],
.day[data-weekdaynumber="0"] {
    background-color: var(--lightergrey);
}

.day .dateContainer {
    display: flex;
    height: 100%;
    align-items: end;
    gap: 1rem;
    pointer-events: none;
    font-size: 0.75rem;
}

.spanContentContainer {
    position: absolute;
    background-color: var(--matteRed);
    padding: 0.5rem 0.5rem;    
    height: calc(100% - 2.5rem);
    left: 0;
    right: 0;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.16);
    color: var(--lighterText);
    z-index: 1;
    pointer-events: none;

}

.spanContentContainer.start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    left: 1rem;
}

.spanContentContainer.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.handleContainer {
    position: absolute;
    width: 1.25rem;
    height: 100%;
    z-index: 2;
}

.handleContainer:has(.startHandle) {
    left: 1rem;
    top: 0.5rem;
    transform: translateX(-50%)
}

.handleContainer:has(.endHandle) {
    right: 1rem;
    top: 0.5rem;
    transform: translateX(50%);
}

.startHandle,
.endHandle {
    position: absolute;
    border: 3px solid var(--bodyBackground);
    background-color: var(--lightergrey);
    width: 1.25rem;
    height: 1.25rem;
    cursor: grab;
    border-radius: 50%;
    pointer-events: none;
}

.startHandle {
    top: 0.25rem;
}

.endHandle {
    top: 0.25rem;
}

.dayName,
.dayDate {
    pointer-events: none;
}

#addTimespanForm {
    border: solid 3px black;
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: white;
}

/* generics */
.hidden {
    visibility: hidden;
}

.noTouchActions {
    touch-action: none;
}