* {
}

.month {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.1rem;
}

.week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.day {
    position: relative;
    border: solid 0.5px black;
    box-sizing: border-box;
    height: 4rem;
    padding: 0.5rem;
}

.day.active {
    border-top: solid 3px red;
    border-bottom: solid 3px red;
}

.day.active.solo {
    border: solid 3px red;
}

.day.active.start {
    border-left: solid 3px red;
}

.day.active.end {
    border-right: solid 3px red;
}



.handle {
    position: absolute;
    border: solid 2px black;
    border-radius: 25%;
    cursor: grab;
}

.handle.start {
    top: 1rem;
    left: -5px;
}

.handle.end {
    top: 1rem;
    right: -5px;
}

.dayName,
.dayDate {
    pointer-events: none;
}

.topicDisplay {
    position: absolute;
    left: 4rem;
    top: 1rem;
    background-color: antiquewhite;
}

#addTimespanForm {
    border: solid 3px black;
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: white;
}

#cancelSpanCreationButtonContainer {
    display: none;
}