:root {
    --borderWidth: 3px;
}

#addTimespanForm{
    display: none;
}

.month {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
}

.week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.3fr 0.3fr;
}

.day {
    position: relative;
    box-sizing: border-box;
    height: 4rem;
    padding: 1rem;
    border: solid 1px black;
}

.day[data-weekdaynumber="6"],
.day[data-weekdaynumber="0"] {
    background-color: var(--lightgrey, grey);
}

.day.selected[data-weekdaynumber="6"],
.day.selected[data-weekdaynumber="0"] {
    background-color: var(--lightgrey, rgb(166, 103, 103));
}

.day.selected {
    border-top: solid var(--borderWidth) red;
    border-bottom: solid var(--borderWidth) red;
    background-color: rgba(255, 0, 0, 0.5);
}

/* .day.selected.start {
    border-left: solid var(--borderWidth) red;
}

.day.selected.end {
    border-right: solid var(--borderWidth) red;
} */




.handleContainer {
    position: absolute;
    width: 1.25rem;
    height: 100%;
}

.handleContainer:has(.startHandle) {
    left: calc(-1 * var(--borderWidth));
    top: calc(-1 * var(--borderWidth));
    transform: translateX(-50%)
}

.handleContainer:has(.endHandle) {
    right: calc(-1 * var(--borderWidth));
    bottom: calc(-1 * var(--borderWidth));
    transform: translateX(50%);
    z-index: 1;
}

.startHandle,
.endHandle {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    cursor: grab;
    border-radius: 50%;
    pointer-events: none;
}

.startHandle {
    background-color: red;
    top: 0.25rem;
}

.endHandle {
    background-color: red;
    bottom: 0.25rem;
}

.dayName,
.dayDate {
    pointer-events: none;
}

.topicDisplay {
    position: absolute;
    left: 4rem;
    top: 1rem;
    background-color: antiquewhite;
}

#addTimespanForm {
    border: solid 3px black;
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: white;
}

/* generics */
.hidden {
    visibility: hidden;
}

.noTouchActions {
    touch-action: none;
}