* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

    --bodyBackground: #272932;
    --topMenuBackgound: #542344;
    --contentContainerBackground: #F3F5F7;
    --lightText: #F3F5F7;
    --matteRed: #F05D5E;
    --matteGreen: #0F7173;
    --lightMatteGreen: #17B2B5;
    --lightMatteRed: #F58F8F;
    --lightgrey: rgb(184, 184, 184);
    --lightergrey: rgb(227, 227, 227);
}

html {
    /* width: 100vw; */
}

body {
    background-color: var(--bodyBackground);
    display: flex;
    flex-direction: column;
}

main {}

/* Top Menu */

#topMenuContainer {
    background-color: var(--topMenuBackgound);
    color: var(--lightText);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    flex: 1 0 100%
}

/* Content Containers */

#timetableContainer,
#taskContainer {
    background-color: var(--contentContainerBackground);
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}

#timetableContainer {
    /* min-height: fit-content; */
    overflow-x: hidden;
    overflow-y: hidden;

}

/* Time Table */

#weekBackwardButton,
#weekForwardButton {
    border: none;
    background-color: var(--contentContainerBackground);
}

#weekBackwardButton:active,
#weekForwardButton:active {
    color: var(--matteRed);
}

.weekOverview {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
    /* grid-template-rows: 1fr; */
}

#weekOverview {
    position: relative;
    left: 0;
    transition: all 0.3s ease-out;
    cursor: default;

}

#timeslots {
    display: grid;
    grid-template-rows: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.timeslotLabel,
.weekdayLabel {
    padding: 0.5rem 1rem;
}

.timeslot,
.timeslotLabel {
    display: flex;
    border-top: solid 1px var(--lightgrey);
    height: 42px;
}

.weekday {
    display: grid;
    border-left: solid 1px var(--lightgrey);
    grid-template-rows: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.lesson {
    flex-grow: 1;
    margin: 0.2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.16);
    color: var(--lightText);
    text-align: center;
}

.lesson:hover {
    transform: translate(-1px, -1px);
}

.addTaskButtonWrapper {
    display: none;
    flex: 1 1 100%;
    background-color: var(--lightergrey);
    justify-content: center;
    align-items: center;
    text-align: right;
}

.addTaskButton {
    color: #0F7173;
}

.weekOverview:hover .addTaskButtonWrapper {
    display: flex;
}

/* Task Container */

#upcomingTasksContainer,
#inProgressTasksContainer {
    flex: 1 1 50%;
}

#upcomingTasksTable,
#inProgressTasksTable {
    border-spacing: 0;
}

#upcomingTasksTable tbody tr:hover,
#inProgressTasksTable tbody tr:hover {
    background-color: var(--lightergrey);
}

#upcomingTasksTable td,
#inProgressTasksTable td,
#upcomingTasksTable th,
#inProgressTasksTable th {
    padding: 0.5rem 1rem;
    border-right: solid 1px var(--lightgrey);
    user-select: none;
    cursor: default;
}

#upcomingTasksTable .taskDone,
#upcomingTasksTable .taskDescription,
#inProgressTasksTable .taskDone,
#inProgressTasksTable .taskDescription {
    border-right: none;
    transition: all 0.3s ease-out;
}

.taskDone {
    text-align: center;
    min-width: 125px;
    /* display: flex; */
    gap: 0.5rem;
    justify-content: center;
    vertical-align: center;
}

.taskDone button {
    border: none;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: var(--lightMatteGreen);
    font-size: 1rem;
    color: var(--lightText);
}

.taskDone button:hover {
    background-color: var(--matteGreen);
} 

.lessonSelect {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.saveNewTaskButton,
.updateTaskButton,
.setTaskDoneButton {
    background-color: var(--lightMatteGreen);
    margin-right: 0.5rem;
}

.discardNewTaskButton,
.discardUpdateTaskButton {
    background-color: var(--lightMatteRed) !important;
}

.saveNewTaskButton:hover,
.updateTaskButton:hover
.setTaskDoneButton:hover {
    background-color: var(--matteGreen);
}

.discardNewTaskButton:hover,
.discardUpdateTaskButton:hover {
    background-color: var(--matteRed) !important; 
}

#taskContainer th {
    color: var(--lightgrey);
    text-align: left;
    padding: 0.5rem 1rem;
}

/* header stylings */

h1,
h2 {
    margin: 0;
    color: var(--matteRed);
}



/* generic classes */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}

.justifyEnd {
    justify-content: end;
}

.alignEnd {
    align-items: end;
}

.halfGap {
    gap: 0.5rem;
}

.gap {
    gap: 1rem;
}

.doubleGap {
    gap: 2rem;
}

.subjectColorOne {
    background-color: var(--matteGreen);
}

.subjectColorTwo {
    background-color: var(--topMenuBackgound);
}

.subjectColorThree {
    background-color: var(--matteRed);
}

.subjectColorFour {
    background-color: var(--bodyBackground);
}

.blankWeekTable {
    background-color: var(--contentContainerBackground);
    transition: all 0.3s ease-out;
}

.undefined {
    border: solid 1px var(--bodyBackground);
    color: var(--bodyBackground);
}

.canceled {
    background-color: var(--lightergrey);
    color: var(--lightgrey);
}


/* responsiveness */

@media screen and (max-width: 900px) {
    .weekOverview {
        overflow-y: scroll;
    }

    #taskContainer {
        flex-direction: column;
    }

}