<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Lehrer-Planer</title>
</head>

<body>
    <nav>
        <div id="topMenuContainer" class="flex spaceBetween doubleGap alignCenter">
            <div>
                <h1>Lehrer-Planer</h1>
            </div>
            <div class="flex gap">
                <div><button id="openSettingsButton">&#x2630;</button></div>
                <div><button id="logoutButton">&#x279C;</button></div>
            </div>
        </div>
    </nav>

    <main>
        <div id="timetableContainer">
            <div class="flex doubleGap spaceBetween" style="margin-bottom: 1rem;">
                <div id="calendarWeek" class="flex alignCenter">
                    <h2>Wochenplan KW <span id="calendarWeekCounter" data-split_first_week="false">-</span></h2>
                    <div id="isCurrentWeekDot"></div>
                </div>
                <div class="flex gap">
                    <button id="weekBackwardButton">&#9664</button>
                    <div id="dateSpan" class="flex alignEnd"><span id="weekStartDate">Montag</span>&nbsp;-&nbsp;<span
                            id="weekEndDate">Sonntag</span></div>
                    <button id="weekForwardButton">&#9654</button>
                </div>
            </div>
            <div id="weekOverviewContainer">
                <div class="weekOverview">
                    <div id="timeslots">
                        <div></div>
                        <div class="timeslotLabel">1</div>
                        <div class="timeslotLabel">2</div>
                        <div class="timeslotLabel">3</div>
                        <div class="timeslotLabel">4</div>
                        <div class="timeslotLabel">5</div>
                        <div class="timeslotLabel">6</div>
                        <div class="timeslotLabel">7</div>
                        <div class="timeslotLabel">8</div>
                        <div class="timeslotLabel">9</div>
                    </div>

                    <div class="weekday" data-weekday_number="1" data-date="">
                        <div class="weekdayLabel">Mo<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="2" data-date="">
                        <div class="weekdayLabel">Di<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="3" data-date="">
                        <div class="weekdayLabel">Mi<div class="smallDate"></div>
                        </div>

                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="4" data-date="">
                        <div class="weekdayLabel">Do<div class="smallDate"></div>
                        </div>

                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="5" data-date="">
                        <div class="weekdayLabel">Fr<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="6" data-date="">
                        <div class="weekdayLabel">Sa<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="0" data-date="">
                        <div class="weekdayLabel">So<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="taskContainer" class="flex doubleGap">

            <div id="upcomingTasksContainer">
                <div style="margin-bottom: 1rem;">
                    <h2>anstehend:</h2>
                </div>

                <!-- upcoming tasks table -->
                <table id="upcomingTasksTable">
                    <thead>
                        <tr>
                            <th>Kl.</th>
                            <th>Fach</th>
                            <th class="taskDescription">Beschreibung</th>
                            <th class="taskDone"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- in Progress Tasks -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="border: none; text-align: center; display: none; padding-top: 2rem;"
                                data-noEntriesFound>Keine Aufgaben gefunden!</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div id="inProgressTasksContainer">
                <div style="margin-bottom: 1rem;">
                    <h2>in Arbeit:</h2>
                </div>
                <div>
                    <!-- in progress tasks table -->

                    <table id="inProgressTasksTable">
                        <thead>
                            <tr>
                                <th>Kl.</th>
                                <th>Fach</th>
                                <th class="taskDescription">Beschreibung</th>
                                <th class="taskDone"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- in Progress Tasks -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"
                                    style="border: none; text-align: center; display: none; padding-top: 2rem;"
                                    data-noEntriesFound>Keine Aufgaben gefunden!</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <settings>
        <!-- Settings Menu -->
        <div id="settingsContainer">
            <div id="settingsTitleBar" class="flex spaceBetween alignCenter" style="height: 3rem;">
                <h3>Einstellungen</h3>
                <div class="flex halfGap">
                    <button id="openTimetableSettingsButton" class="selected">Stundenplan</button>
                    <button id="openAccountSettingsButton">Konto</button>
                    <button id="closeSettingsButton">&#215;</button>
                </div>
            </div>

            <div id="timetableSettingsContainer">
                <div id="settingsSubjectsContainer" class="flex doubleGap">
                    <!-- create subjects and select their colors -->
                    <div id="createSubjectContainer">
                        <div class="flex gap">
                            <div class="flex gap column">
                                <div>
                                    <label for="subjectName">Fächer anlegen:</label>
                                    <div class="alertRing"><input type="text" name="subjectName" id="subjectName"
                                            placeholder="Fachkürzel"></div>
                                </div>
                                <div>
                                    <label>Farbe wählen:</label>
                                    <div id="colourSelection" class="flex halfGap"></div>
                                </div>
                            </div>
                            <div class="flex alignEnd">
                                <div><button id="createSubjectButton">Anlegen</button></div>
                            </div>
                        </div>
                    </div>

                    <!-- existing subjects list -->
                    <div id="existingSubjectsContainer" class="flex gap column">
                        <div class="flex spaceBetween">
                            <label>Fachübersicht:</label>
                            <div id="subjectsInfoTooltip" class="tooltip">?
                                <span class="tooltipTextLeft">Hier kannst du die von dir unterrichteten Fächer anlegen
                                    und
                                    ihnen
                                    eine Farbe zuweisen. Gib einfach ein Fachkürzel deiner Wahl ein und wähle eine Farbe
                                    aus.</span>
                            </div>
                        </div>
                        <div id="subjectsListContainer" class="flex gap"></div>
                    </div>
                </div>

                <div id="settingsTimetableContainer">
                    <div class="flex spaceBetween alignEnd marginBottom">
                        <div class="flex alignEnd">
                            <label>Stundenpläne anlegen:</label>
                            <div id="noSubjectsAlertTooltip" class="tooltip error">!
                                <span class="tooltipTextRight">Es wurden keine Fächer gefunden! Bevor du einen
                                    Stundenplan anlegen kannst, musst du oben deine Fächer eintragen.</span>
                            </div>
                        </div>
                        <div class="flex gap alignEnd" style="height: 1.5rem;">
                            <label>gültig ab: </label>
                            <button id="timetableBackwardButton">&#9664</button>
                            <div id="dateSpan" class="flex alignEnd"><span id="validFrom" data-date="">-</span></div>
                            <div id="validFromPickerWrapper" class="flex alignCenter" style="position: relative;">
                                <div class="alertRing"><input type="date" name="validFromPicker" id="validFromPicker">
                                </div>
                                <div id="validFromPickerAlertTooltip" class="tooltip error">!
                                    <span class="tooltipTextLeft">Für dieses Datum existiert bereits ein Stundenplan. Um
                                        diesen
                                        zu ändern, wähle ihn aus und bearbeite ihn direkt.</span>
                                </div>
                            </div>
                            <button id="timetableForwardButton">&#9654</button>
                            <div id="subjectsInfoTooltip" class="tooltip">?
                                <span class="tooltipTextLeft">Hier kannst du deine festen Stundenpläne speichern und
                                    bearbeiten.
                                    Lege die Stunden im jeweilgen Zeitslot mit Klasse und Fach an. Wähle außerdem aus,
                                    ab
                                    wann der Plan gültig ist.</span>
                            </div>
                        </div>
                    </div>
                    <div id="settingsWeekOverviewContainer">
                        <div class="settingsWeekOverview alertRing" style="width: 100%;">
                            <div id="settingsTimeslots">
                                <div></div>
                                <div class="timeslotLabel">1</div>
                                <div class="timeslotLabel">2</div>
                                <div class="timeslotLabel">3</div>
                                <div class="timeslotLabel">4</div>
                                <div class="timeslotLabel">5</div>
                                <div class="timeslotLabel">6</div>
                                <div class="timeslotLabel">7</div>
                                <div class="timeslotLabel">8</div>
                                <div class="timeslotLabel">9</div>
                            </div>

                            <div class="settingsWeekday" data-weekday_number="1">
                                <div class="weekdayLabel">Mo</div>
                                <div class="settingsTimeslot" data-timeslot="1"></div>
                                <div class="settingsTimeslot" data-timeslot="2"></div>
                                <div class="settingsTimeslot" data-timeslot="3"></div>
                                <div class="settingsTimeslot" data-timeslot="4"></div>
                                <div class="settingsTimeslot" data-timeslot="5"></div>
                                <div class="settingsTimeslot" data-timeslot="6"></div>
                                <div class="settingsTimeslot" data-timeslot="7"></div>
                                <div class="settingsTimeslot" data-timeslot="8"></div>
                                <div class="settingsTimeslot" data-timeslot="9"></div>
                            </div>

                            <div class="settingsWeekday" data-weekday_number="2">
                                <div class="weekdayLabel">Di</div>
                                <div class="settingsTimeslot" data-timeslot="1"></div>
                                <div class="settingsTimeslot" data-timeslot="2"></div>
                                <div class="settingsTimeslot" data-timeslot="3"></div>
                                <div class="settingsTimeslot" data-timeslot="4"></div>
                                <div class="settingsTimeslot" data-timeslot="5"></div>
                                <div class="settingsTimeslot" data-timeslot="6"></div>
                                <div class="settingsTimeslot" data-timeslot="7"></div>
                                <div class="settingsTimeslot" data-timeslot="8"></div>
                                <div class="settingsTimeslot" data-timeslot="9"></div>
                            </div>

                            <div class="settingsWeekday" data-weekday_number="3">
                                <div class="weekdayLabel">Mi</div>
                                <div class="settingsTimeslot" data-timeslot="1"></div>
                                <div class="settingsTimeslot" data-timeslot="2"></div>
                                <div class="settingsTimeslot" data-timeslot="3"></div>
                                <div class="settingsTimeslot" data-timeslot="4"></div>
                                <div class="settingsTimeslot" data-timeslot="5"></div>
                                <div class="settingsTimeslot" data-timeslot="6"></div>
                                <div class="settingsTimeslot" data-timeslot="7"></div>
                                <div class="settingsTimeslot" data-timeslot="8"></div>
                                <div class="settingsTimeslot" data-timeslot="9"></div>
                            </div>

                            <div class="settingsWeekday" data-weekday_number="4" data-date="">
                                <div class="weekdayLabel">Do</div>
                                <div class="settingsTimeslot" data-timeslot="1"></div>
                                <div class="settingsTimeslot" data-timeslot="2"></div>
                                <div class="settingsTimeslot" data-timeslot="3"></div>
                                <div class="settingsTimeslot" data-timeslot="4"></div>
                                <div class="settingsTimeslot" data-timeslot="5"></div>
                                <div class="settingsTimeslot" data-timeslot="6"></div>
                                <div class="settingsTimeslot" data-timeslot="7"></div>
                                <div class="settingsTimeslot" data-timeslot="8"></div>
                                <div class="settingsTimeslot" data-timeslot="9"></div>
                            </div>

                            <div class="settingsWeekday" data-weekday_number="5">
                                <div class="weekdayLabel">Fr</div>
                                <div class="settingsTimeslot" data-timeslot="1"></div>
                                <div class="settingsTimeslot" data-timeslot="2"></div>
                                <div class="settingsTimeslot" data-timeslot="3"></div>
                                <div class="settingsTimeslot" data-timeslot="4"></div>
                                <div class="settingsTimeslot" data-timeslot="5"></div>
                                <div class="settingsTimeslot" data-timeslot="6"></div>
                                <div class="settingsTimeslot" data-timeslot="7"></div>
                                <div class="settingsTimeslot" data-timeslot="8"></div>
                                <div class="settingsTimeslot" data-timeslot="9"></div>
                            </div>
                        </div>
                    </div>
                    <div id="createChangeTimetableButtonContainer" class="flex justifyEnd halfGap">
                        <div><button id="editTimetableButton">Bearbeiten</button></div>
                        <div><button id="createNewTimetableButton">Plan anlegen</button></div>
                    </div>
                    <div id="saveDiscardTimetableButtonContainer" class="flex justifyEnd">
                        <div class="flex halfGap">
                            <div><button id="saveNewTimetableButton">Speichern</button></div>
                            <div><button id="discardNewTimetableButton">Abbrechen</button></div>
                        </div>
                    </div>
                    <div id="saveDiscardTimetableChangesButtonContainer" class="flex justifyEnd">
                        <div class="flex halfGap">
                            <div><button id="saveTimetableChangesButton">Speichern</button></div>
                            <div><button id="discardTimetableChangesButton">Abbrechen</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- account settings -->
            <div id="accountSettingsContainer" style="display: none;">
                <div id="deleteAccountContainer">
                    <label>Konto löschen:</label>
                    <div id="requestDeletionContainer">
                        <p>Beim Löschen des Kontos werden alle zugehörigen Daten entfernt.</p>
                        <button id="deleteAccountButton" class="cancelButton">Konto löschen</button>
                    </div>
                    <div id="approveAccountDeletionContainer">
                        <p>Bitte bestätige, dass du dein Konto endgültig löschen möchtest. Dieser Schritt kann nicht
                            rückgängig gemacht werden!</p>
                        <button id="approveAccountDeletionButton" class="confirmationButton">Bestätigen</button>
                        <button id="cancelAccountDeletionButton" class="cancelButton">Abbrechen</button>
                    </div>
                    <div id="deletionErrorDisplay">
                        <p>Etwas ist schief gelaufen. Bitte versuche es später noch einmal.</p>
                        <button id="cancelFailedAccountDeletionButton" class="cancelButton">zurück</button>
                    </div>
                </div>
            </div>

        </div>
    </settings>

    <!-- dialogs -->
    <dialog id="loginDialog">
        <div class="headline">
            <h3>Login</h3>
        </div>
        <form id="loginForm" method="post">
            <div class="flex column halfGap marginTop" class="formBody">
                <div>
                    <label for="userEmail" style="display: block">E-Mail</label>
                    <div class="alertRing"><input type="text" name="userEmail" id="userEmail"></div>
                </div>
                <div>
                    <label for="password" style="display: block">Passwort</label>
                    <div class="alertRing"><input type="password" name="password" id="password"></div>
                </div>
            </div>
            <div id="loginErrorMessageDisplay" class="errorMessageDisplay alertRing">
                Du wurdest wegen Inaktivität ausgeloggt. Melde dich erneut an, um Datenverlust zu vermeiden.
            </div>
            <div class="flex justifyEnd alignEnd marginTop">
                <button type="submit" id="loginButton" class="confirmationButton"
                    style="margin-right: 3px">Login</button>
            </div>
        </form>
    </dialog>

    <dialog id="sendResetPasswordMailDialog">
        <div class="headline">
            <h3>Passwort-Reset-Mail anfordern</h3>
        </div>
        <form id="sendResetPasswordMailForm" method="post">
            <div class="flex column halfGap marginTop" class="formBody">
                <label for="resetPasswordMail" style="display: block">E-Mail-Adresse</label>
                <div class="alertRing"><input type="mail" name="resetPasswordMail" id="resetPasswordMail"></div>
            </div>
            <div id="sendResetPasswordMailErrorMessageDisplay" class="errorMessageDisplay alertRing"></div>
            <div class="flex spaceBetween alignEnd marginTop">
                <a href="" class="backToLoginLink" style="margin-left: 3px; text-decoration: none;">zurück</a>
                <button type="submit" id="sendResetPasswordMailButton" class="confirmationButton"
                    style="margin-right: 3px">Anfordern</button>
            </div>
        </form>
    </dialog>

    <dialog id="LessonChangesAndTasksToKeepDialog">
        <div class="headline">
            <h3>Terminkonflikte</h3>
        </div>
        <div class="dialogBody">
            <p id="descriptionPara"></p>
            <div class="marginTop">
                <div id="lessonChangesConflictsContainer">
                    <label>Konflikte bei Vertretungen und Terminen:</label>
                    <table id="lessonChangesConflictsTable">
                        <thead>
                            <tr>
                                <th>Kl.</th>
                                <th>Fach</th>
                                <th>Datum</th>
                                <th class="taskDescription">Typ</th>
                                <th style="border: none"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="marginTop">
                <div id="taskConflictsContainer">
                    <label>Konflikte bei Aufgaben:</label>
                    <table id="taskConflictsTable">
                        <thead>
                            <tr>
                                <th>Kl.</th>
                                <th>Fach</th>
                                <th>Datum</th>
                                <th class="taskDescription">Beschreibung</th>
                                <th style="border: none"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="marginTop flex justifyEnd">
                <button id="closeLessonChangesAndTasksToKeepDialogButton" class="confirmationButton">Erledigt</button>
                </div>
            </div>
        </div>
    </dialog>

    <script src="./js/index.js" type="module"></script>
</body>

</html>