<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Lehrer-Planer</title>
</head>

<body>
    <nav>
        <div id="topMenuContainer" class="flex spaceBetween doubleGap">
            <div>
                <h1>Lehrer-Planer</h1>
            </div>
            <div class="flex alignEnd doubleGap">
                <div>Einstellungen</div>
            </div>
        </div>
    </nav>
    <main>
        <div id="timetableContainer">
            <div class="flex doubleGap spaceBetween" style="margin-bottom: 1rem;">
                <div id="calendarWeek" class="flex alignCenter">
                    <h2>KW <span id="calendarWeekCounter" data-split_first_week="false">-</span></h2>
                    <div id="isCurrentWeekDot"></div>
                </div>
                <div class="flex gap">
                    <button id="weekBackwardButton">&#9664</button>
                    <div id="dateSpan" class="flex alignEnd"><span id="weekStartDate">Montag</span>&nbsp;-&nbsp;<span
                            id="weekEndDate">Sonntag</span></div>
                    <button id="weekForwardButton">&#9654</button>
                </div>
            </div>
            <div id="weekOverviewContainer">
                <div class="weekOverview">
                    <div id="timeslots">
                        <div></div>
                        <div class="timeslotLabel">1</div>
                        <div class="timeslotLabel">2</div>
                        <div class="timeslotLabel">3</div>
                        <div class="timeslotLabel">4</div>
                        <div class="timeslotLabel">5</div>
                        <div class="timeslotLabel">6</div>
                        <div class="timeslotLabel">5</div>
                        <div class="timeslotLabel">8</div>
                        <div class="timeslotLabel">9</div>
                    </div>

                    <div class="weekday" data-weekday_number="1" data-date="">
                        <div class="weekdayLabel">Mo<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="2" data-date="">
                        <div class="weekdayLabel">Di<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="3" data-date="">
                        <div class="weekdayLabel">Mi<div class="smallDate"></div>
                        </div>

                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="4" data-date="">
                        <div class="weekdayLabel">Do<div class="smallDate"></div>
                        </div>

                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="5" data-date="">
                        <div class="weekdayLabel">Fr<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="6" data-date="">
                        <div class="weekdayLabel">Sa<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>

                    <div class="weekday" data-weekday_number="0" data-date="">
                        <div class="weekdayLabel">So<div class="smallDate"></div>
                        </div>
                        <div class="timeslot" data-timeslot="1"></div>
                        <div class="timeslot" data-timeslot="2"></div>
                        <div class="timeslot" data-timeslot="3"></div>
                        <div class="timeslot" data-timeslot="4"></div>
                        <div class="timeslot" data-timeslot="5"></div>
                        <div class="timeslot" data-timeslot="6"></div>
                        <div class="timeslot" data-timeslot="7"></div>
                        <div class="timeslot" data-timeslot="8"></div>
                        <div class="timeslot" data-timeslot="9"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="taskContainer" class="flex doubleGap">

            <div id="upcomingTasksContainer">
                <div style="margin-bottom: 1rem;">
                    <h2>anstehend:</h2>
                </div>

                <!-- upcoming tasks table -->
                <table id="upcomingTasksTable">
                    <thead>
                        <tr>
                            <th>Kl.</th>
                            <th>Fach</th>
                            <th class="taskDescription">Beschreibung</th>
                            <th class="taskDone"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- in Progress Tasks -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="border: none; text-align: center; display: none; padding-top: 2rem;"
                                data-noEntriesFound>Keine Aufgaben gefunden!</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div id="inProgressTasksContainer">
                <div style="margin-bottom: 1rem;">
                    <h2>in Arbeit:</h2>
                </div>
                <div>
                    <!-- in progress tasks table -->

                    <table id="inProgressTasksTable">
                        <thead>
                            <tr>
                                <th>Kl.</th>
                                <th>Fach</th>
                                <th class="taskDescription">Beschreibung</th>
                                <th class="taskDone"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- in Progress Tasks -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"
                                    style="border: none; text-align: center; display: none; padding-top: 2rem;"
                                    data-noEntriesFound>Keine Aufgaben gefunden!</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- Settings Menu -->
        <div id="settingsContainer">
            <div id="settingsTitleBar">
                <h3>Einstellungen</h3>
            </div>

            <div id="settingsSubjectsContainer" class="flex doubleGap">
                <!-- create subjects and select their colors -->
                <div id="createSubjectContainer">
                    <div class="flex gap">
                        <div class="flex gap column">
                            <div>
                                <label for="subjectName">Fach anlegen:</label>
                                <div class="alertRing"><input type="text" name="subjectName" id="subjectName"
                                        style="width: 8rem; height: 1.5rem" placeholder="Fachkürzel"></div>
                            </div>
                            <div>
                                <label>Farbe wählen:</label>
                                <div id="colourSelection" class="flex halfGap"></div>
                            </div>
                        </div>
                        <div class="flex alignEnd">
                            <div><button id="createSubjectButton">Anlegen</button></div>
                        </div>
                    </div>
                </div>

                <!-- existing subjects list -->
                <div id="existingSubjectsContainer" class="flex gap column">
                    <div><label>Fachübersicht</label></div>
                    <div id="subjectsListContainer" class="flex gap"></div>
                </div>
            </div>

            <div id="settingsTimetableContainer">
                <!-- <label class="marginBottom">Stundenplan</label> -->
                <div class="flex justifyEnd marginBottom">
                    <div class="flex gap alignEnd" style="height: 1.5rem;">
                        <label>gültig ab: </label>
                        <button id="timetableBackwardButton">&#9664</button>
                        <div id="dateSpan" class="flex alignEnd"><span id="validFrom" data-date="">-</span></div>
                        <div class="alertRing"><input type="date" name="validFromPicker" id="validFromPicker"></div>
                        <button id="timetableForwardButton">&#9654</button>
                    </div>
                </div>
                <div id="settingsWeekOverviewContainer">
                    <div class="settingsWeekOverview alertRing">
                        <div id="settingsTimeslots">
                            <div></div>
                            <div class="timeslotLabel">1</div>
                            <div class="timeslotLabel">2</div>
                            <div class="timeslotLabel">3</div>
                            <div class="timeslotLabel">4</div>
                            <div class="timeslotLabel">5</div>
                            <div class="timeslotLabel">6</div>
                            <div class="timeslotLabel">5</div>
                            <div class="timeslotLabel">8</div>
                            <div class="timeslotLabel">9</div>
                        </div>

                        <div class="settingsWeekday" data-weekday_number="1">
                            <div class="weekdayLabel">Mo</div>
                            <div class="settingsTimeslot" data-timeslot="1"></div>
                            <div class="settingsTimeslot" data-timeslot="2"></div>
                            <div class="settingsTimeslot" data-timeslot="3"></div>
                            <div class="settingsTimeslot" data-timeslot="4"></div>
                            <div class="settingsTimeslot" data-timeslot="5"></div>
                            <div class="settingsTimeslot" data-timeslot="6"></div>
                            <div class="settingsTimeslot" data-timeslot="7"></div>
                            <div class="settingsTimeslot" data-timeslot="8"></div>
                            <div class="settingsTimeslot" data-timeslot="9"></div>
                        </div>

                        <div class="settingsWeekday" data-weekday_number="2">
                            <div class="weekdayLabel">Di</div>
                            <div class="settingsTimeslot" data-timeslot="1"></div>
                            <div class="settingsTimeslot" data-timeslot="2"></div>
                            <div class="settingsTimeslot" data-timeslot="3"></div>
                            <div class="settingsTimeslot" data-timeslot="4"></div>
                            <div class="settingsTimeslot" data-timeslot="5"></div>
                            <div class="settingsTimeslot" data-timeslot="6"></div>
                            <div class="settingsTimeslot" data-timeslot="7"></div>
                            <div class="settingsTimeslot" data-timeslot="8"></div>
                            <div class="settingsTimeslot" data-timeslot="9"></div>
                        </div>

                        <div class="settingsWeekday" data-weekday_number="3">
                            <div class="weekdayLabel">Mi</div>
                            <div class="settingsTimeslot" data-timeslot="1"></div>
                            <div class="settingsTimeslot" data-timeslot="2"></div>
                            <div class="settingsTimeslot" data-timeslot="3"></div>
                            <div class="settingsTimeslot" data-timeslot="4"></div>
                            <div class="settingsTimeslot" data-timeslot="5"></div>
                            <div class="settingsTimeslot" data-timeslot="6"></div>
                            <div class="settingsTimeslot" data-timeslot="7"></div>
                            <div class="settingsTimeslot" data-timeslot="8"></div>
                            <div class="settingsTimeslot" data-timeslot="9"></div>
                        </div>

                        <div class="settingsWeekday" data-weekday_number="4" data-date="">
                            <div class="weekdayLabel">Do</div>
                            <div class="settingsTimeslot" data-timeslot="1"></div>
                            <div class="settingsTimeslot" data-timeslot="2"></div>
                            <div class="settingsTimeslot" data-timeslot="3"></div>
                            <div class="settingsTimeslot" data-timeslot="4"></div>
                            <div class="settingsTimeslot" data-timeslot="5"></div>
                            <div class="settingsTimeslot" data-timeslot="6"></div>
                            <div class="settingsTimeslot" data-timeslot="7"></div>
                            <div class="settingsTimeslot" data-timeslot="8"></div>
                            <div class="settingsTimeslot" data-timeslot="9"></div>
                        </div>

                        <div class="settingsWeekday" data-weekday_number="5">
                            <div class="weekdayLabel">Fr</div>
                            <div class="settingsTimeslot" data-timeslot="1"></div>
                            <div class="settingsTimeslot" data-timeslot="2"></div>
                            <div class="settingsTimeslot" data-timeslot="3"></div>
                            <div class="settingsTimeslot" data-timeslot="4"></div>
                            <div class="settingsTimeslot" data-timeslot="5"></div>
                            <div class="settingsTimeslot" data-timeslot="6"></div>
                            <div class="settingsTimeslot" data-timeslot="7"></div>
                            <div class="settingsTimeslot" data-timeslot="8"></div>
                            <div class="settingsTimeslot" data-timeslot="9"></div>
                        </div>
                    </div>
                </div>
                <div id="createChangeTimetableButtonContainer" class="flex justifyEnd halfGap">
                    <div><button id="editTimetableButton">Bearbeiten</button></div>
                    <div><button id="createNewTimetableButton">Plan anlegen</button></div>
                </div>
                <div id="saveDiscardTimetableButtonContainer" class="flex justifyEnd">
                    <div class="flex halfGap">
                        <div><button id="saveNewTimetableButton">Speichern</button></div>
                        <div><button id="discardNewTimetableButton">Abbrechen</button></div>
                    </div>
                </div>
                <div id="saveDiscardTimetableChangesButtonContainer" class="flex justifyEnd">
                    <div class="flex halfGap">
                        <div><button id="saveTimetableChangesButton">Speichern</button></div>
                        <div><button id="discardTimetableChangesButton">Abbrechen</button></div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </main>
    <script src="./js/index.js" type="module"></script>
</body>

</html>