<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/curriculum.css">
</head>

<body>
    <div data-span_edit_active="false"></div>
    <div id="yearContainer">
        <div id="dayNameContainer">
            <div class="dayName">Mo</div>
            <div class="dayName">Di</div>
            <div class="dayName">Mi</div>
            <div class="dayName">Do</div>
            <div class="dayName">Fr</div>
            <div class="dayName">Sa</div>
            <div class="dayName">So</div>
        </div>
    </div>
    <div id="timeSpanForm">
        <input type="text" name="topic" id="topicInput">
        <div id="cancelSpanCreationButtonContainer">
            <button id="saveSpanCreationButton" class="confirmationButton">Speichern</button>
            <button id="cancelSpanCreationButton" class="cancelButton">Abbrechen</button>
        </div>
    </div>

    <script>


        function createContainer() {
            const yearContainer = document.querySelector('#yearContainer');
            const monthNames = {
                0: 'Januar',
                1: 'Februar',
                2: 'März',
                3: 'April',
                4: 'Mai',
                5: 'Juni',
                6: 'Juli',
                7: 'August',
                8: 'September',
                9: 'Oktober',
                10: 'November',
                11: 'Dezember'
            };
            const dayNames = {
                0: 'So',
                1: 'Mo',
                2: 'Di',
                3: 'Mi',
                4: 'Do',
                5: 'Fr',
                6: 'Sa',
            }

            let today = new Date();
            let monthIterator = 0;
            let weekIterator = 1;
            let dateIterator = new Date(`${today.getFullYear()}-01-01`).setHours(12, 0, 0, 0);
            let oneday = 86400000;

            let blankMonth = document.createElement('div');
            let blankWeek = document.createElement('div');

            blankMonth.classList.add('month');
            blankMonth.innerHTML = `
                <div class="monthName">Januar</div>
            `;

            blankWeek.classList.add('week');
            blankWeek.setAttribute('data-weeknumber', weekIterator);
            blankWeek.innerHTML = `
                <div class="day" data-weekdayNumber="1"></div>
                <div class="day" data-weekdayNumber="2"></div>
                <div class="day" data-weekdayNumber="3"></div>
                <div class="day" data-weekdayNumber="4"></div>
                <div class="day" data-weekdayNumber="5"></div>
                <div class="day" data-weekdayNumber="6"></div>
                <div class="day" data-weekdayNumber="0"></div>
            `
            let isYearCompleted = false;
            let currentMonth = blankMonth.cloneNode(true);
            let currentWeek = blankWeek.cloneNode(true);

            do {
                let currentDay = new Date(dateIterator);

                if (currentDay.getMonth() != monthIterator) {
                    currentMonth.appendChild(currentWeek);
                    currentWeek = blankWeek.cloneNode(true);

                    yearContainer.appendChild(currentMonth);
                    currentMonth = blankMonth.cloneNode(true);
                    currentMonth.querySelector('.monthName').textContent = monthNames[currentDay.getMonth()];
                    monthIterator++;
                }

                if (currentDay.getDay() == 1 && currentWeek.querySelector('.dateContainer')) {
                    currentMonth.appendChild(currentWeek);

                    currentWeek = blankWeek.cloneNode(true);
                    weekIterator++;
                }

                currentWeek.dataset.weeknumber = weekIterator;

                currentWeek.querySelectorAll('.day').forEach(day => {
                    if (day.dataset.weekdaynumber != currentDay.getDay()) return;

                    day.setAttribute('data-date', currentDay);
                    day.innerHTML = `
                        <div class="dateContainer">
                            <div class="dayDate">${currentDay.getDate()}.${currentDay.getMonth() + 1}.</div>
                        </div>
                    `;
                });

                if (currentDay.getDate() == 31 && currentDay.getMonth() == 11) {
                    isYearCompleted = true;
                    currentMonth.appendChild(currentWeek);
                    yearContainer.appendChild(currentMonth);
                }

                dateIterator += oneday;
            } while (!isYearCompleted);

            yearContainer.querySelectorAll('.day').forEach(day => {
                if (day.children.length == 0) day.classList.add('hidden');
            });
        }

        function openSpanForm() {
            document.querySelector('div[data-span_edit_active]').dataset.span_edit_active = 'true';
            document.querySelector('#timeSpanForm').style.display = 'block';
        }

        function closeSpanForm() {
            document.querySelector('div[data-span_edit_active]').dataset.span_edit_active = 'false';
            document.querySelector('#timeSpanForm').removeAttribute('style');
        }

        function createNewSpan(event) {
            const target = event.target;
            const allSpanIds = [];

            document.querySelectorAll('.day[data-spanid]').forEach(day => {
                if (!allSpanIds.includes(day.dataset.spanid)) allSpanIds.push(day.dataset.spanid);
            });

            const newSpanId = Math.max(0, ...allSpanIds) + 1;

            target.classList.add('selected');
            target.classList.add('start');
            target.classList.add('end');
            target.setAttribute('data-spanid', newSpanId);
            target.setAttribute('new', '');

            setAnchor(target);
            drawSpanContentContainer(newSpanId);

            return newSpanId;
        }

        function cancelSpanCreation() {
            const spanElement = document.querySelector('.day:has(.handleContainer)');
            const isNewSpan = getNewSpan();

            const spanId = spanElement.dataset.spanid
            const allSpanElements = document.querySelectorAll(`.day[data-spanid="${spanId}"]`);

            allSpanElements.forEach(day => {
                day.classList.remove('selected');
                // day.classList.remove('active');
                day.classList.remove('start');
                day.classList.remove('end');
                day.classList.remove('anchor');
                day.removeAttribute('data-spanid')
            });

            document.querySelector('#topicInput').value = '';

            if (isNewSpan) {
                isNewSpan.removeAttribute('new');

                return;
            }

            drawSpan(spanId);
        }

        function drawSpan(spanId) {
            console.log('i will get the span data by its id and redraw it the way it was saved. But this is not ready yet');
            //first remove all spanId elements
            //then add them newly based on the saved data
        }

        function addHandlesToSpan(spanId) {
            const startElement = document.querySelector(`.day.start[data-spanid="${spanId}"]`);
            const endElement = document.querySelector(`.day.end[data-spanid="${spanId}"]`);

            const startHandleContainer = document.createElement('div');
            const handle = document.createElement('div');

            startHandleContainer.classList.add('handleContainer');
            handle.classList.add('handle');
            startHandleContainer.append(handle);

            const endHandleContainer = startHandleContainer.cloneNode(true);

            startHandleContainer.firstElementChild.classList.add('startHandle');
            endHandleContainer.firstElementChild.classList.add('endHandle');

            if (startElement == endElement) {
                startElement.append(startHandleContainer);
                startElement.append(endHandleContainer);

                return;
            }

            startElement.append(startHandleContainer);
            endElement.append(endHandleContainer);
        }

        function removeAllHandles() {
            document.querySelectorAll('.handleContainer').forEach(container => container.remove());
        }

        function saveSpan() {
            const topicInput = document.querySelector('#topicInput');
            const firstSpanDay = document.querySelector('.day:has(.handleContainer)');
            const spanId = firstSpanDay.dataset.spanid;
            const allSpanElements = document.querySelectorAll(`.day[data-spanid="${spanId}"]`);
            let isNewSpan = getNewSpan()

            if (isNewSpan) {
                isNewSpan.removeAttribute('new');
            }

            firstSpanDay.querySelector('.spanContentContainer').textContent = topicInput.value;

        }

        function getSpanId(event) {
            return event.target.closest('.day').dataset.spanid;
        }

        function getActiveSpanId() {
            const activeSpan = document.querySelector('.day:has(.handleContainer)');
            let activeSpanId;

            if (activeSpan) activeSpanId = activeSpan.dataset.spanid;

            if (activeSpanId) return activeSpanId;

            return false
        }

        function getNewSpan() {
            const spanElementWithNewTag = document.querySelector('.day[new]');

            if (spanElementWithNewTag) return spanElementWithNewTag;

            return false;
        }

        function modifySpanRange(event) {
            event.preventDefault();

            if (event.target.hasPointerCapture(event.pointerId))
                event.target.releasePointerCapture(event.pointerId);

            const activeHandle = event.target.querySelector('.handle');
            const spanId = activeHandle.closest('.day').dataset.spanid;
            let oldMouseX, currentMouseX, oldMouseY, currentMouseY;

            oldMouseX = event.x;
            oldMouseY = event.y;

            //set anchor to the other handles parent.
            if (activeHandle.classList.contains('startHandle')) {
                setAnchor(document.querySelector('.endHandle').closest('.day'));
            } else {
                setAnchor(document.querySelector('.startHandle').closest('.day'));
            }

            function moveActiveHandle(event) {
                event.preventDefault();


                let mouseOffsetX = oldMouseX - event.clientX;
                let mouseOffsetY = oldMouseY - event.clientY;
                oldMouseX = event.clientX;
                oldMouseY = event.clientY;

                activeHandle.style.top = `${activeHandle.offsetTop - mouseOffsetY}px`;
                activeHandle.style.left = `${activeHandle.offsetLeft - mouseOffsetX}px`;
            }

            function adjustSpanLength(event) {
                event.preventDefault();

                if (!event.target.classList.contains('day')) return;

                const focusElement = event.target;
                const anchorElement = document.querySelector('.anchor');
                let [startElement, endElement] = [focusElement, anchorElement];

                if (comparePosition(anchorElement, focusElement) == "A before B") [startElement, endElement] = [anchorElement, focusElement];

                const allDays = Array.from(document.querySelectorAll('.day:not(.hidden)'));
                let startIndex = allDays.indexOf(startElement);
                let endIndex = allDays.indexOf(endElement);
                const anchorIndex = allDays.indexOf(anchorElement);

                const spanDays = [];

                //prevent the span from expanding into another span 
                let neighboringStart;
                let neighboringEnd;
                let neighboringStartIndex;
                let neighboringEndIndex;

                //find next neighboring start
                for (let i = anchorIndex + 1; i < allDays.length; i++) {
                    if (allDays[i].classList.contains('start')) {
                        neighboringStart = allDays[i];
                        neighboringStartIndex = i;
                        break;
                    }
                }

                //find next neighboring end
                for (let i = anchorIndex - 1; i > 0; i--) {
                    if (allDays[i].classList.contains('end')) {
                        neighboringEnd = allDays[i];
                        neighboringEndIndex = i;
                        break;
                    }
                }

                //if the spans start/end index expands into the neighbors, reset them
                if (endIndex >= neighboringStartIndex) endIndex = neighboringStartIndex - 1;
                if (startIndex <= neighboringEndIndex) startIndex = neighboringEndIndex + 1;

                //get all span days and style them
                for (let i = startIndex; i <= endIndex; i++) {
                    spanDays.push(allDays[i]);
                }

                allDays.forEach(day => {
                    if (day.dataset.spanid == spanId) {
                        day.classList.remove('selected');
                        day.classList.remove('start');
                        day.classList.remove('end');
                        day.removeAttribute('data-spanid');
                    }
                });

                spanDays.forEach((day, index) => {
                    day.classList.add('selected');
                    day.setAttribute('data-spanid', spanId);

                    if (index == 0) day.classList.add('start');
                    if (index == spanDays.length - 1) day.classList.add('end');
                });

                drawSpanContentContainer(spanId);

            }

            function endHandleMovement() {
                removeAllHandles();
                removeAnchorFromSpan(spanId);
                addHandlesToSpan(spanId);

                document.removeEventListener('pointermove', moveActiveHandle);
                document.removeEventListener('pointerover', adjustSpanLength);
                document.removeEventListener('pointerup', endHandleMovement);
            }

            document.addEventListener('pointermove', moveActiveHandle);
            document.addEventListener('pointerover', adjustSpanLength);
            document.addEventListener('pointerup', endHandleMovement);
        }

        function setAnchor(element) {
            element.classList.add('anchor');
        }

        function removeAnchorFromSpan(spanId) {
            document.querySelectorAll(`*[data-spanid="${spanId}"]`).forEach(element => element.classList.remove('anchor'));
        }

        function disableTouchActionsOnDayElements() {
            document.querySelectorAll('.day').forEach(day => disableTouchActions(day));
        }

        function enableTouchActionsOnDayElements() {
            document.querySelectorAll('.day').forEach(day => enableTouchActions(day));
        }

        function drawSpanContentContainer(spanId) {
            const startElement = document.querySelector(`.day.start[data-spanid="${spanId}"]`);
            const endElement = document.querySelector(`.day.end[data-spanid="${spanId}"]`);
            const startWeekNumber = startElement.closest('.week').dataset.weeknumber;
            const endWeekNumber = endElement.closest('.week').dataset.weeknumber;
            const startElementRect = startElement.getBoundingClientRect();
            const endElementRect = endElement.getBoundingClientRect();
            const elementStyle = getComputedStyle(startElement);

            document.querySelectorAll(`.spanContentContainer[data-spanid="${spanId}"]`).forEach(container => container.remove());

            const contentContainer = document.createElement('div');
            contentContainer.classList.add('spanContentContainer');
            contentContainer.setAttribute('data-spanid', spanId);

            let i = startWeekNumber;

            do {
                const weekElement = document.querySelector(`.week[data-weeknumber="${i}"]`);
                const currentContainer = contentContainer.cloneNode();

                let firstElement = weekElement.firstElementChild;
                let lastElement = weekElement.lastElementChild;
                let offset = (parseFloat(getComputedStyle(startElement).paddingLeft) + parseFloat(getComputedStyle(startElement).borderLeftWidth));

                if (startWeekNumber == endWeekNumber) offset *= 2;
                if (i != startWeekNumber && i != endWeekNumber) offset = 2;

                if (i == startWeekNumber) {
                    firstElement = startElement;
                    currentContainer.classList.add('start');
                }

                if (i == endWeekNumber) {
                    lastElement = endElement;
                    currentContainer.classList.add('end');
                }

                const leftRect = firstElement.getBoundingClientRect();
                const rightRect = lastElement.getBoundingClientRect();

                currentContainer.style.width = `${rightRect.right - leftRect.left - offset}px`;
                currentContainer.style.top = `${getComputedStyle(firstElement).paddingTop}`;

                firstElement.append(currentContainer);

                i++
            } while (i <= endWeekNumber)
        }

        function getPaddingPlusBorderWidth(element) {
            const properties = getComputedStyle(element);
            const paddingLeft = parseFloat(properties.paddingLeft);
            const paddingRight = parseFloat(properties.paddingRight);
            const borderLeft = parseFloat(properties.borderLeft);
            const borderRight = parseFloat(properties.borderRight);

            return paddingLeft + paddingRight + borderLeft + borderRight;
        }

        ////////////////
        // controller //
        ////////////////

        function handleClicksOnDayElements(event) {
            const spanEditOngoing = document.querySelector('div[data-span_edit_active]').dataset.span_edit_active;
            const classList = event.target.classList;

            // handle clicks on day elements
            if (classList.contains('day')) {
                switch (true) {
                    case !classList.contains('selected'):
                        if (spanEditOngoing == 'false') con_createNewSpan();
                        break;

                    case classList.contains('selected'):
                        if (spanEditOngoing == 'true') {
                            const clickedSpanId = getSpanId(event);
                            const activeSpanId = getActiveSpanId();
                            if (clickedSpanId == activeSpanId) {
                                con_createNewSubSpan(event)
                            } else {
                                con_selectSpan(event);
                            }
                        };

                        if (spanEditOngoing == 'false') con_selectSpan(event);
                        break;
                }
            }
        }

        function timeSpanFormHandler(event) {
            switch (event.target.id) {
                case 'saveSpanCreationButton':
                    con_saveSpan();
                    break;

                case 'cancelSpanCreationButton':
                    con_cancelSpanCreation();
                    break;
            }
        }

        function handleMouseDownOnDayElements(event) {

            const classList = event.target.classList;

            switch (true) {
                case classList.contains('handleContainer'):
                    con_modifySpanRange(event);
                    break;
            }
        }

        function con_createNewSpan() {
            disableTouchActionsOnDayElements();
            openSpanForm();
            let spanId = createNewSpan(event);
            addHandlesToSpan(spanId);
        }

        function con_createNewSubSpan() {
            openSpanForm();
            createNewSubSpan(event);
        }

        function con_saveSpan() {
            const spanId = getActiveSpanId();
            saveSpan();
            closeSpanForm();
            removeAllHandles();
            removeAnchorFromSpan(spanId);
            enableTouchActionsOnDayElements();
        }

        function con_cancelSpanCreation() {
            cancelSpanCreation();
            closeSpanForm();
            removeAllHandles();
            enableTouchActionsOnDayElements();

        }

        function con_selectSpan(event) {
            const currentlyActiveSpanId = getActiveSpanId();
            const spanId = getSpanId(event);

            if (currentlyActiveSpanId) {
                if (getNewSpan()) {
                    cancelSpanCreation();
                } else {
                    drawSpan(currentlyActiveSpanId);
                }
            }

            openSpanForm();
            disableTouchActionsOnDayElements();
            removeAllHandles();
            addHandlesToSpan(spanId);

        }

        function con_modifySpanRange(event) {
            modifySpanRange(event)
        }

        //helper function
        function comparePosition(elementA, elementB) {
            let position = elementA.compareDocumentPosition(elementB);
            if (position == Node.DOCUMENT_POSITION_PRECEDING) return 'A after B';
            if (position == Node.DOCUMENT_POSITION_FOLLOWING) return 'A before B';

            return 'same element';
        }

        function disableTouchActions(element) {
            element.classList.add('noTouchActions');
        }

        function enableTouchActions(element) {
            element.classList.remove('noTouchActions');
        }

        createContainer();

        document.querySelector('#timeSpanForm').addEventListener('click', timeSpanFormHandler);
        document.querySelector('#yearContainer').addEventListener('click', handleClicksOnDayElements);
        document.querySelector('#yearContainer').addEventListener('pointerdown', handleMouseDownOnDayElements);
    </script>
</body>

</html>