<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div id="dialogContainer">

        <dialog id="loginDialog" open>
            <div id="headline">
                <h3>Login</h3>
            </div>
            <form id="loginForm" method="post">
                <div class="flex halfGap marginTop" class="formBody">
                    <div>
                        <label for="userEmail" style="display: block">E-Mail</label>
                        <div class="alertRing"><input type="text" name="userEmail" id="userEmail"></div>
                    </div>
                    <div>
                        <label for="password" style="display: block">Passwort</label>
                        <div class="alertRing"><input type="password" name="password" id="password"></div>
                    </div>
                </div>
                <div id="loginErrorMessageDisplay" class="errorMessageDisplay alertRing"></div>
                <div class="flex spaceBetween alignEnd marginTop"><a href="" id="createAccount"
                        style="margin-left: 3px; text-decoration: none;">Konto anlegen</a><button type="submit"
                        id="loginButton" style="margin-right: 3px">Login</button>
                </div>
            </form>
        </dialog>

        <dialog id="createAccountDialog">
            <div id="headline">
                <h3>Konto anlegen</h3>
            </div>
            <form id="createAccountForm" method="post">
                <div class="flex column halfGap marginTop" class="formBody">
                    <div>
                        <label for="newUserEmail" style="display: block">E-Mail</label>
                        <div class="alertRing"><input type="mail" name="newUserEmail" id="newUserEmail"></div>
                    </div>
                    <div class="flex spaceBetween">
                        <div>
                            <label for="newPassword" style="display: block">Passwort wählen</label>
                            <div class="alertRing"><input type="password" name="newPassword" id="newPassword"></div>
                        </div>
                        <div>
                            <label for="newPasswordRepeat" style="display: block">Passwort wiederholen</label>
                            <div class="alertRing"><input type="password" name="newPasswordRepeat"
                                    id="newPasswordRepeat">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accountCreationErrorMessageDisplay" class="errorMessageDisplay alertRing"></div>
                <div class="flex spaceBetween alignEnd marginTop">
                    <a href="" class="backToLoginLink" style="margin-left: 3px; text-decoration: none;">zurück</a>
                    <button type="submit" id="submitNewAccountDataButton" style="margin-right: 3px">Anlegen</button>
                </div>
            </form>
        </dialog>

        <dialog id="sendResetPasswordMailDialog">
            <div id="headline">
                <h3>Passwort-Reset-Mail anfordern</h3>
            </div>
            <form id="sendResetPasswordMailForm" method="post">
                <div class="flex halfGap marginTop" class="formBody">
                    <div>
                        <label for="resetPasswordMail" style="display: block">E-Mail-Adresse</label>
                        <div class="alertRing"><input type="mail" name="resetPasswordMail" id="resetPasswordMail"></div>
                    </div>
                </div>
                <div id="sendResetPasswordMailErrorMessageDisplay" class="errorMessageDisplay alertRing"></div>
                <div class="flex spaceBetween alignEnd marginTop">
                    <a href="" class="backToLoginLink" style="margin-left: 3px; text-decoration: none;">zurück</a>
                    <button type="submit" id="sendResetPasswordMailButton" style="margin-right: 3px">Anfordern</button>
                </div>
            </form>
        </dialog>

        <dialog id="resetPasswordDialog">
            <div id="headline">
                <h3>Passwort zurücksetzen</h3>
            </div>
            <form id="resetPasswordForm" method="post">
                <div class="flex halfGap marginTop" class="formBody">
                    <div>
                        <label for="resetPassword" style="display: block">Neues Passwort</label>
                        <div class="alertRing"><input type="password" name="resetPassword" id="resetPassword"></div>
                    </div>
                    <div>
                        <label for="resetPasswordRepeat" style="display: block">Passwort wiederholen</label>
                        <div class="alertRing"><input type="password" name="resetPasswordRepeat"
                                id="resetPasswordRepeat"></div>
                    </div>
                </div>
                <div id="resetPasswordErrorMessageDisplay" class="errorMessageDisplay alertRing"></div>
                <div class="flex spaceBetween alignEnd marginTop navigation">
                    <a href="" class="backToLoginLink" style="margin-left: 3px; text-decoration: none;">zurück</a>
                    <button type="submit" id="resetPasswordButton" style="margin-right: 3px">Speichern</button>
                </div>
            </form>
        </dialog>

    </div>

    <script src="./js/login.js"></script>
</body>

</html>